<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675319496496-a68ngbhq3l4aclljdvpnl2uvmvup52ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675319496496-a68ngbhq3l4aclljdvpnl2uvmvup52ke</string>
	<key>API_KEY</key>
	<string>AIzaSyAXdgruNWqTR-D6uGjm1I60FGoQtyMoCy0</string>
	<key>GCM_SENDER_ID</key>
	<string>675319496496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guardsquare.sample-comm-client</string>
	<key>PROJECT_ID</key>
	<string>sample-comm-service</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-comm-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675319496496:ios:6af04205bfa5068c6ed2f5</string>
</dict>
</plist>